.article {
  background-image: url(../src/image/snow-leopard.png);
  height: 964px;
  width: 1446px;
  background-size: cover;
  background-position: center;
  border-radius: 26px;
  position: relative;
  margin-top: 120px;
  box-shadow: 8px 8px 8px 1px rgba(116, 116, 116, 0.3);
}
