.header {
  padding-top: 45px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 700;
  }
  &__disk {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    width: 1000px;
  }
  &__subtitle {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 45px;
  }
  &__logo {
    font-size: 264px;
    font-weight: 700;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
